@page
@model IndexModel
@{
}

<h2>Oversigt over alle opskrifter</h2>

<form method="post">

    <div id="divCreateButton">
        <button type="submit" class="btn btn-primary">Opret opskrift</button>
    </div>

    <div>
        <div class="pre-scrollable">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th style="text-align:center">Ratio</th>
                        <th style="text-align:center">Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in Model.Recipes)
                    {
                        <tr>
                            <td>@recipe.Name</td>
                            <td style="text-align:center">@recipe.Ratio</td>
                            <td style="text-align:center">@recipe.Ingredients.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</form>


<style>

    #divCreateButton {
        padding-right:20px;
        text-align: right;
        margin: auto;
    }

    .btn {
        
        margin-top:20px;
        margin-bottom: 20px;
    }

    .pre-scrollable {
        max-height:700px;
    }

</style>
