@page
@model IndexModel
@{
}

<h2>Oversigt over alle opskrifter</h2>

<form method="post">

    <div id="divCreateButton">
        <button type="submit" class="btn btn-primary" asp-page-handler="CreateRecipe">Opret opskrift</button>
    </div>

    <div>
        <div class="pre-scrollable">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th class="aligncenter">Ratio</th>
                        <th class="aligncenter">Ingredients</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in Model.Recipes)
                    {
                        <tr>
                            <td>@recipe.Name</td>
                            <td class="aligncenter nostretch">@recipe.Ratio</td>
                            <td class="aligncenter nostretch">@recipe.Ingredients.Count</td>
                            <td class="aligncenter nostretch">
                                @if (recipe.IsProtected == false)
                                {
                                    <button type="submit" class="btn btn-sm btn-danger" asp-page-handler="DeleteRecipe" asp-route-id="@recipe.Id">Slet</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</form>


<style>

    #divCreateButton {
        padding-right:20px;
        text-align: right;
        margin-bottom:10px;
    }

    /*.btn {
        
        margin-top:20px;
        margin-bottom: 20px;
    }*/

    .pre-scrollable {
        max-height:700px;
    }

    .nostretch {
        width: 1%;
        white-space: nowrap;
    }

    .aligncenter {
        text-align: center;
    }

</style>
