@page
@model IndexModel
@{

}

<style>
    .btn {
        margin-bottom: 20px;
    }
</style>

<div>
    <button type="button" class="btn btn-primary">Opret madvare</button>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Energi (kJ)</th>
                <th>Energi (kcal)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model.Foods)
            {
                <tr>
                    <td>@food.Name</td>
                    <td>@food.EnergiKj</td>
                    <td>@food.EnergiKcal</td>
                </tr>
            }
        </tbody>
    </table>
</div>